<h4>Steps</h4>

<div class="row">
  <div class="col s12">
    {{#sortable-group tagName="div" onChange="reorderSteps" as |group|}}
      {{#each sortedSteps as |step|}}
	{{#sortable-item tagName="div" model=step group=group spacing=15}}
	  {{#md-card}}
	    <span class="dragable"><i class="material-icons">swap_vert</i></span>
	    <span class="badge">
	      {{ember-inline-edit
	      value=step.code
	      onSave=(action 'changeAttr' step 'code')
	      onClose=(action 'rollback' step)
	      saveLabel=saveLabel
	      }}
	    </span>
	    {{#md-card-content}}
	      <span class="card-title black-text">
		{{ember-inline-edit
		value=step.title
		onSave=(action 'changeAttr' step 'title')
		onClose=(action 'rollback' step)
		saveLabel=saveLabel
		}}
	      </span>
	      {{ember-inline-edit
	      value=step.description
	      field='textarea'
	      onSave=(action 'changeAttr' step 'description')
	      onClose=(action 'rollback' step)
	      saveLabel=saveLabel
	      }}
	    {{/md-card-content}}
	    {{#md-card-action}}
	      <a {{action 'delete' step}}>Delete</a>
	    {{/md-card-action}}
	  {{/md-card}}
	{{/sortable-item}}
      {{/each}}
    {{/sortable-group}}

    <span {{action 'newStep'}}>
    {{#md-card class="new-panel" title="Click to add new step"}}
      {{md-badge text="step_code"}}
      {{#md-card-content}}
	Step description
      {{/md-card-content}}
      {{#md-card-action}}
	<a class="disabled">Delete</a>
      {{/md-card-action}}
    {{/md-card}}
    </span>
    
  </div>
</div>

<div class="row">
  {{md-btn text='Back' action='back'}}
</div>

